In [14]:
%load_ext sql
%sql mysql://root:pieseczek71@localhost/restaurant_db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Creating a schema

In [16]:
%%sql
CREATE SCHEMA IF NOT EXISTS restaurant_db;
USE restaurant_db;

CREATE TABLE IF NOT EXISTS ingredient(
    ID INT PRIMARY KEY,
    name VARCHAR(64) NOT NULL,
    price DECIMAL(10,2) NOT NULL,
    isVegan BOOLEAN NOT NULL,
    isVegeterian BOOLEAN NOT NULL
);

CREATE TABLE IF NOT EXISTS pizzaIngredient(
    pizzaID INT NOT NULL,
    ingredientID INT NOT NULL,
    quantity INT NOT NULL
);

CREATE TABLE IF NOT EXISTS item(
    ID INT PRIMARY KEY,
    itemType VARCHAR(6) NOT NULL,
    name VARCHAR(64) NOT NULL,
    price DECIMAL(10,2) NOT NULL,
    isVegan BOOLEAN,
    isVegeterian BOOLEAN
);

CREATE TABLE IF NOT EXISTS orderItem(
    ID INT PRIMARY KEY,
    itemID INT NOT NULL,
    quantity INT NOT NULL
);

CREATE TABLE IF NOT EXISTS discountCode(
    ID VARCHAR(8) PRIMARY KEY,
    isUSED BOOLEAN NOT NULL,
    percentage INT NOT NULL
);

CREATE TABLE IF NOT EXISTS deliveryPersonnel(
    ID INT PRIMARY KEY,
    firstName VARCHAR(64) NOT NULL,
    lastName VARCHAR(64) NOT NULL,
    postalCode VARCHAR(6) NOT NULL
);

CREATE TABLE IF NOT EXISTS customer(
    ID INT PRIMARY KEY,
    firstName VARCHAR(64) NOT NULL,
    lastName VARCHAR(64) NOT NULL,
    gender CHAR(1) NOT NULL,
    birthDate DATE NOT NULL,
    phoneNumber VARCHAR(12) NOT NULL,
    email VARCHAR(100) NOT NULL,
    adress VARCHAR(100) NOT NULL,
    postalCode VARCHAR(6) NOT NULL,
    city VARCHAR(64) NOT NULL,
    pizzaCount INT NOT NULL
);

CREATE TABLE IF NOT EXISTS `order`(
    ID INT PRIMARY KEY,
    customerID INT NOT NULL,
    placementDate DATETIME NOT NULL,
    pickedUpByDeliveryPersonnelDate DATETIME,
    status VARCHAR(32) NOT NULL,
    price DECIMAL(10,2) NOT NULL,
    discountCodeID VARCHAR(8),
    deliveryPersonnelID INT
);

 * mysql://root:***@localhost/restaurant_db
1 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [17]:
%%sql
SHOW TABLES;

 * mysql://root:***@localhost/restaurant_db
8 rows affected.

[('customer',),
 ('deliveryPersonnel',),
 ('discountCode',),
 ('ingredient',),
 ('item',),
 ('order',),
 ('orderItem',),
 ('pizzaIngredient',)]

In [4]:
%%sql
SHOW COLUMNS FROM `orderItem`;

 * mysql://root:***@localhost/restaurant_db
3 rows affected.

[('ID', 'int', 'NO', 'PRI', None, ''),
 ('itemID', 'int', 'NO', '', None, ''),
 ('quantity', 'int', 'NO', '', None, '')]

In [5]:
%%sql
SHOW DATABASES;

 * mysql://root:***@localhost/restaurant_db
8 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('restaurant_db',),
 ('resteurant_db',),
 ('resteurant_sch',),
 ('sakila',),
 ('sys',)]

### Adding relationships

In [6]:
%%sql 

ALTER TABLE `order`
    ADD CONSTRAINT fk_order_customer
    FOREIGN KEY (customerID) REFERENCES customer(ID) ON DELETE CASCADE;

 * mysql://root:***@localhost/restaurant_db
0 rows affected.

[]

In [7]:
%%sql

ALTER TABLE `order`
    ADD CONSTRAINT fk_order_deliveryPersonnel 
    FOREIGN KEY (deliveryPersonnelID) REFERENCES deliveryPersonnel(ID) ON DELETE SET NULL;

 * mysql://root:***@localhost/restaurant_db
0 rows affected.

[]

In [8]:
%%sql 

ALTER TABLE `order`
    ADD CONSTRAINT fk_order_discountCode 
    FOREIGN KEY (discountCodeID) REFERENCES discountCode(ID) ON DELETE SET NULL;

 * mysql://root:***@localhost/restaurant_db
0 rows affected.

[]

In [9]:
%%sql 

ALTER TABLE orderItem
    ADD CONSTRAINT fk_orderItem_order 
    FOREIGN KEY (itemID) REFERENCES `order`(ID) ON DELETE CASCADE;

 * mysql://root:***@localhost/restaurant_db
0 rows affected.

[]

In [10]:
%%sql 

ALTER TABLE orderItem
    ADD CONSTRAINT fk_orderItem_item 
    FOREIGN KEY (itemID) REFERENCES item(ID) ON DELETE RESTRICT;

 * mysql://root:***@localhost/restaurant_db
0 rows affected.

[]

In [11]:
%%sql 

ALTER TABLE pizzaIngredient
    ADD CONSTRAINT fk_pizzaIngredient_pizza 
    FOREIGN KEY (pizzaID) REFERENCES item(ID) ON DELETE RESTRICT;

 * mysql://root:***@localhost/restaurant_db
0 rows affected.

[]

In [12]:
%%sql 

ALTER TABLE pizzaIngredient
    ADD CONSTRAINT fk_pizzaIngredient_ingredient 
    FOREIGN KEY (ingredientID) REFERENCES ingredient(ID) ON DELETE RESTRICT;

 * mysql://root:***@localhost/restaurant_db
0 rows affected.

[]

In [13]:
%%sql

SELECT
    CONSTRAINT_NAME,
    TABLE_NAME,
    COLUMN_NAME,
    REFERENCED_TABLE_NAME,
    REFERENCED_COLUMN_NAME
FROM
    INFORMATION_SCHEMA.KEY_COLUMN_USAGE
WHERE
    TABLE_SCHEMA = 'restaurant_db' -- replace with your schema name
    AND REFERENCED_TABLE_NAME IS NOT NULL;

 * mysql://root:***@localhost/restaurant_db
7 rows affected.

[('fk_order_customer', 'order', 'customerID', 'customer', 'ID'),
 ('fk_order_deliveryPersonnel', 'order', 'deliveryPersonnelID', 'deliveryPersonnel', 'ID'),
 ('fk_order_discountCode', 'order', 'discountCodeID', 'discountCode', 'ID'),
 ('fk_orderItem_item', 'orderItem', 'itemID', 'item', 'ID'),
 ('fk_orderItem_order', 'orderItem', 'itemID', 'order', 'ID'),
 ('fk_pizzaIngredient_ingredient', 'pizzaIngredient', 'ingredientID', 'ingredient', 'ID'),
 ('fk_pizzaIngredient_pizza', 'pizzaIngredient', 'pizzaID', 'item', 'ID')]