In [39]:
%load_ext sql
%sql mysql://root:pieseczek71@localhost

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Creating a schema

In [40]:
%%sql
USE resteurant_db;

 * mysql://root:***@localhost
0 rows affected.

[]

In [41]:
%%sql

CREATE SCHEMA IF NOT EXISTS resteurant_db;
USE resteurant_db;

CREATE TABLE IF NOT EXISTS ingredient(
    ID INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(64) NOT NULL,
    price DECIMAL(10,2) NOT NULL,
    isVegan BOOLEAN NOT NULL,
    isVegeterian BOOLEAN NOT NULL
);

CREATE TABLE IF NOT EXISTS pizza(
    ID INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(64) NOT NULL
);

CREATE TABLE IF NOT EXISTS pizzaIngredient(
    pizzaID INT NOT NULL,
    ingredientID INT NOT NULL,
    quantity INT NOT NULL,
    FOREIGN KEY (pizzaID) REFERENCES pizza(ID) ON DELETE RESTRICT,
    FOREIGN KEY (ingredientID) REFERENCES ingredient(ID) ON DELETE RESTRICT
);

CREATE TABLE IF NOT EXISTS drinkAndDesert(
    ID INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(64) NOT NULL,
    price DECIMAL(10,2) NOT NULL
);

CREATE TABLE IF NOT EXISTS deliveryPersonnel(
    ID INT PRIMARY KEY AUTO_INCREMENT,
    firstName VARCHAR(64) NOT NULL,
    lastName VARCHAR(64) NOT NULL,
    postalCode VARCHAR(6) NOT NULL,
    status VARCHAR(64) NOT NULL
);

CREATE TABLE IF NOT EXISTS customer(
    ID INT PRIMARY KEY AUTO_INCREMENT,
    firstName VARCHAR(64) NOT NULL,
    lastName VARCHAR(64) NOT NULL,
    gender CHAR(1) NOT NULL,
    birthDate DATE NOT NULL,
    phoneNumber VARCHAR(12) NOT NULL,
    email VARCHAR(100) NOT NULL UNIQUE,
    password VARCHAR(100) NOT NULL UNIQUE,
    address VARCHAR(100) NOT NULL,
    postalCode VARCHAR(6) NOT NULL,
    city VARCHAR(64) NOT NULL,
    pizzaCount INT NOT NULL
);

CREATE TABLE IF NOT EXISTS discountCode(
    ID VARCHAR(8) PRIMARY KEY,
    isUSED BOOLEAN NOT NULL,
    percentage INT NOT NULL,
    customerID INT NOT NULL,
    FOREIGN KEY (customerID) REFERENCES customer(ID) ON DELETE CASCADE
);

CREATE TABLE IF NOT EXISTS `order`(
    ID INT PRIMARY KEY AUTO_INCREMENT,
    customerID INT NOT NULL,
    deliveryTime DATETIME,
    status VARCHAR(32) NOT NULL,
    discountCodeID VARCHAR(8),
    deliveryPersonnelID INT,
    FOREIGN KEY (customerID) REFERENCES customer(ID) ON DELETE CASCADE,
    FOREIGN KEY (discountCodeID) REFERENCES discountCode(ID) ON DELETE SET NULL,
    FOREIGN KEY (deliveryPersonnelID) REFERENCES deliveryPersonnel(ID) ON DELETE SET NULL
);

CREATE TABLE IF NOT EXISTS orderPizza(
    orderID INT,
    pizzaID INT NOT NULL,
    quantity INT NOT NULL,
    FOREIGN KEY (pizzaID) REFERENCES pizza(ID) ON DELETE RESTRICT,
    FOREIGN KEY (orderID) REFERENCES `order`(ID) ON DELETE CASCADE
);

CREATE TABLE IF NOT EXISTS orderDrinkAndDesert(
    orderID INT,
    drinkAndDesertID INT NOT NULL,
    quantity INT NOT NULL,
    FOREIGN KEY (drinkAndDesertID) REFERENCES drinkAndDesert(ID) ON DELETE RESTRICT,
    FOREIGN KEY (orderID) REFERENCES `order`(ID) ON DELETE CASCADE
);

 * mysql://root:***@localhost
1 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

### Check relationships

In [42]:
%%sql

SELECT
    TABLE_NAME,
    COLUMN_NAME,
    REFERENCED_TABLE_NAME,
    REFERENCED_COLUMN_NAME
FROM
    INFORMATION_SCHEMA.KEY_COLUMN_USAGE
WHERE
    TABLE_SCHEMA = 'resteurant_db' -- replace with your schema name
    AND REFERENCED_TABLE_NAME IS NOT NULL;

 * mysql://root:***@localhost
10 rows affected.

[('discountCode', 'customerID', 'customer', 'ID'),
 ('order', 'customerID', 'customer', 'ID'),
 ('order', 'discountCodeID', 'discountCode', 'ID'),
 ('order', 'deliveryPersonnelID', 'deliveryPersonnel', 'ID'),
 ('orderDrinkAndDesert', 'drinkAndDesertID', 'drinkAndDesert', 'ID'),
 ('orderDrinkAndDesert', 'orderID', 'order', 'ID'),
 ('orderPizza', 'pizzaID', 'pizza', 'ID'),
 ('orderPizza', 'orderID', 'order', 'ID'),
 ('pizzaIngredient', 'pizzaID', 'pizza', 'ID'),
 ('pizzaIngredient', 'ingredientID', 'ingredient', 'ID')]

In [43]:
%%sql
SHOW DATABASES;

 * mysql://root:***@localhost
6 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('resteurant_db',),
 ('sakila',),
 ('sys',)]

In [44]:
%%sql
SHOW TABLES;

 * mysql://root:***@localhost
10 rows affected.

[('customer',),
 ('deliveryPersonnel',),
 ('discountCode',),
 ('drinkAndDesert',),
 ('ingredient',),
 ('order',),
 ('orderDrinkAndDesert',),
 ('orderPizza',),
 ('pizza',),
 ('pizzaIngredient',)]

In [45]:
%%sql
SELECT * FROM customer;

 * mysql://root:***@localhost
0 rows affected.

[]

In [46]:
%%sql
SELECT * FROM deliveryPersonnel;

 * mysql://root:***@localhost
0 rows affected.

[]

In [47]:
%%sql
SELECT * FROM ingredient;

 * mysql://root:***@localhost
0 rows affected.

[]

In [48]:
%%sql
SELECT * FROM pizzaIngredient;

 * mysql://root:***@localhost
0 rows affected.

[]