In [57]:
%load_ext sql
%sql mysql://root:pieseczek71@localhost/restaurant_db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [58]:
%%sql
CREATE SCHEMA IF NOT EXISTS resteurant_db;
USE resteurant_db;

# Ingridient
CREATE TABLE IF NOT EXISTS resteurant_db.ingridient(
ID INT PRIMARY KEY,
name VARCHAR(64) NOT NULL,
price DECIMAL(10,2) NOT NULL,
isVegan BOOLEAN NOT NULL,
isVegeterian BOOLEAN NOT NULL
);

# Pizza ingredient
CREATE TABLE IF NOT EXISTS resteurant_db.pizzaIngridient(
pizzaID INT NOT NULL,
ingridientID INT NOT NULL,
quantity INT NOT NULL
);

# Item
CREATE TABLE IF NOT EXISTS resteurant_db.item(
ID INT PRIMARY KEY,
itemType VARCHAR(6) NOT NULL,
name VARCHAR(64) NOT NULL,
price DECIMAL(10,2) NOT NULL,
isVegan BOOLEAN,
isVegeterian BOOLEAN
);

# Order item
CREATE TABLE IF NOT EXISTS resteurant_db.orderItem(
ID INT PRIMARY KEY,
itemID INT NOT NULL,
quantity INT NOT NULL
);

# Discount code
CREATE TABLE IF NOT EXISTS resteurant_db.discountCode(
ID VARCHAR(8) PRIMARY KEY,
isUSED BOOLEAN NOT NULL,
percetage INT NOT NULL
);

# Delivery personel
CREATE TABLE IF NOT EXISTS resteurant_db.deliveryPersonel(
ID INT PRIMARY KEY,
firstName VARCHAR(64) NOT NULL,
lastName VARCHAR(64) NOT NULL,
postalCode VARCHAR(6) NOT NULL
);

# Customer
CREATE TABLE IF NOT EXISTS resteurant_db.customer(
ID INT PRIMARY KEY,
firstName VARCHAR(64) NOT NULL,
lastName VARCHAR(64) NOT NULL,
gender CHAR(1) NOT NULL,
birthDate DATETIME NOT NULL,
phoneNumber VARCHAR(12) NOT NULL,
email VARCHAR(100) NOT NULL,
adress VARCHAR(100) NOT NULL,
postalCode VARCHAR(6) NOT NULL,
city VARCHAR(64) NOT NULL,
# how many pizzas did the customer order (for the discount after 10)
pizzaCount INT NOT NULL
);

# Order
CREATE TABLE IF NOT EXISTS resteurant_db.order(
ID INT PRIMARY KEY,
customerID INT NOT NULL,
placementDate DATETIME NOT NULL,
pickedUpByDeliveryPersonelDate DATETIME,
status VARCHAR(32) NOT NULL,
price DECIMAL(10,2) NOT NULL,
discountCodeID VARCHAR(8),
deliveryPersonelID INT
);

 * mysql://root:***@localhost/restaurant_db
1 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [59]:
%%sql
SHOW TABLES;

 * mysql://root:***@localhost/restaurant_db
8 rows affected.

[('customer',),
 ('deliveryPersonel',),
 ('discountCode',),
 ('ingridient',),
 ('item',),
 ('order',),
 ('orderItem',),
 ('pizzaIngridient',)]